<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joinus.mapper.ClubMapper">
 
<!-- 조인할 테이블 1-1 
<resultMap type="ClubMemberRolesVo" id="roleMap">
	<id property="club_role_no" column="club_role_no"/>
	<id property="club_role_name" column="club_role_name"/> 
</resultMap> -->

<!-- 조인할 테이블 1-2 
<resultMap type="MembersVo" id="membersMap">
   <id property="member_no" column="member_no"/>
   <id property="member_email" column="member_email"/>
   <id property="member_pass" column="member_pass"/>
   <id property="member_name" column="member_name"/>
   <id property="member_tel" column="member_tel"/>
   <id property="member_image" column="member_image"/>
   <id property="member_regdate" column="member_regdate"/>
   <id property="member_role" column="member_role"/>
</resultMap> -->

<!-- 조인한 맵 만들어주기 1 
<resultMap type="ClubTotalBean" id="ClubMemberListMap">
	<collection property="membersVo" resultMap="membersMap"/>
	<collection property="clubMemberRolesVo" resultMap="roleMap"/>
</resultMap> -->

<!-- 조인할 테이블 2-1 
<resultMap type="InterestsVo" id="interestMap">
   <id property="interest_no" column="interest_no"/>
   <id property="interest_icon" column="interest_icon"/>
   <id property="interest_name" column="interest_name"/>
</resultMap> -->

<!-- 조인할 테이블 2-2 
<resultMap type="ClubInterestsVo" id="clubInterestMap">
   <id property="club_interest_no" column="club_interest_no"/>
   <id property="club_no" column="club_no"/>
   <id property="interest_no" column="interest_no"/>
   <id property="interest_detail_no" column="interest_detail_no"/>
</resultMap> -->

<!-- 조인할 테이블 2-3 
<resultMap type="ClubsVo" id="clubMap">
   <id property="club_no" column="club_no"/>
   <id property="club_name" column="club_name"/>
   <id property="club_content" column="club_content"/>
   <id property="club_image" column="club_image"/>
</resultMap> -->

<!--  조인할 테이블 2-4 
<resultMap type="ClubGradesVo" id="clubGradeMap">
   <id property="club_grade_no" column="clubclub_grade_no_no"/>
   <id property="club_no" column="club_no"/>
   <id property="club_grade" column="club_grade"/>
</resultMap> -->

<!-- 조인한 맵 만들어주기 2 
<resultMap type="ClubTotalBean" id="ClubListMap">
	<collection property="clubInterestsVo" resultMap="clubInterestMap"/>
	<collection property="interestsVo" resultMap="interestMap"/>
	<collection property="clubsVo" resultMap="clubMap"/>
	<collection property="clubGradesVo" resultMap="clubGradeMap"/>
	
</resultMap> -->

<!-- 

<select id="ClubMemberList" resultMap="ClubMemberListMap">
	<![CDATA[
	select m.member_no,m.member_name, m.member_image, c.club_no, c.club_role_no, cr.club_role_name
	from club_members c 
    join members m 
    	on (m.member_no = c.member_no)
	join club_member_roles cr
		on(c.club_role_no = cr.club_role_no)
	where club_no = #{club_no} 
	order by club_role_name asc
	]]>
</select>

<select id="ClubList" resultMap="ClubListMap">
	    select c.club_no, c.club_name, c.club_content, c.club_image, ci.interest_no, i.interest_name,i.interest_icon,cg.club_grade_rate
    from clubs c
	join club_interests ci
        on(c.club_no = ci.club_no)
    join interests i
		on(ci.interest_no = i.interest_no)
	join club_grades cg
		on(c.club_no = cg.club_no)
	where ci.interest_no = #{interest_no}
	order by club_no asc
</select>

<select id="ClubListAll" resultMap="ClubListMap">
	    select c.club_no, c.club_name, c.club_content, c.club_image, ci.interest_no, i.interest_name,i.interest_icon,cg.club_grade_rate
    from clubs c
	join club_interests ci
        on(c.club_no = ci.club_no)
    join interests i
		on(ci.interest_no = i.interest_no)
	join club_grades cg
		on(c.club_no = cg.club_no)
	order by club_grade_rate desc
</select>


	
	<insert id="writeBoard">
		insert into club_boards (club_no,member_no,board_type_no,club_board_title,club_board_content,club_board_photo)
		values(#{club_no},#{member_no},#{board_type_no},#{club_board_title},#{club_board_content},#{club_board_photo})
	</insert>
	
	<select id="getBoardListAll" resultType="ClubBoardVo">
		select * from club_board where club_no = #{club_no}
	</select>
	

 
 -->
 

<!-- 성민 -->

	<select id="getMember" resultType="MembersVo">
		select * from members where member_no =#{member_no}
	</select>
	
	<select id="getMemberInterest" resultType="InterestsVo">
		select * from interests
		where interest_no = ( select interest_no from member_interests where member_no =#{member_no} )
	</select>

	<!-- insert  -->
	
	<insert id="createClub" parameterType="ClubsVo">
		insert into clubs(club_name,club_capacity,club_content,club_image)
		values(#{club_name},#{club_capacity},#{club_content},#{club_image})
		<selectKey resultType="Integer" keyProperty="club_no" order="AFTER">
		SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="createClubInterest">
		insert into club_interests(club_no,interest_no,interest_detail_no)
		values(#{club_no},#{interest_no},#{interest_detail_no})
	</insert>
	
	<insert id="joinMembers">
		insert into club_members(club_no,member_no,club_member_role)
		values(#{club_no},#{member_no},#{club_member_role})
	</insert>
	
	<insert id="clubGrade">
		insert into club_grades(club_no,member_no,club_grade_rate)
		value(#{club_no},#{member_no},#{club_grade_rate})
	</insert>
	
	<!-- select -->
	
	<select id="getClubInfo" resultType="ClubsVo">
		select * from clubs	where club_no=#{club_no}
	</select>
	
	<select id="getClubMember" resultType="ClubMembersVo">
		select * from club_members where club_no=#{club_no}
	</select>
	
	<select id="getClubMemberNo" resultType="ClubMembersVo">
		select * from club_members where member_no=#{member_no}
	</select>
	
	<select id="checkClubName" resultType="ClubsVo">
		select * from clubs where club_name =#{club_name}
	</select>
	
	<select id="getInterestNameDetails" resultType="InterestDetailsVo">
		select * from interest_details	where interest_no=#{interest_no}
	</select>
	
	<select id="getInterestNo" resultType="InterestDetailsVo">
		select interest_no,interest_detail_no from interest_details 
		where interest_detail_name=#{interest_detail_name}
	</select>
	
	<select id="getClubGrade" resultType="ClubGradesVo">
		select * from club_grades where club_no=#{club_no}
	</select>
	
	<select id="getGradeOption" parameterType="int" resultType="HashMap">
		select round(avg(club_grade_rate)) avg, count(club_grade_no) cnt
		from club_grades where club_no=#{club_no}
	</select>
	
	<select id="clubBtn" resultType="int">
		select member_no
from club_grades where member_no in ( select member_no from club_members where member_no =#{member_no} and club_no=#{club_no} )
	</select>
	
</mapper> 
