<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joinus.mapper.ClubMapper">

<!-- 조인할 테이블 1-1 -->
<resultMap type="ClubMemberRolesVo" id="roleMap">
	<id property="club_role_no" column="club_role_no"/>
	<id property="club_role_name" column="club_role_name"/> 
</resultMap>

<!-- 조인할 테이블 1-2 -->
<resultMap type="MembersVo" id="membersMap">
   <id property="member_no" column="member_no"/>
   <id property="member_email" column="member_email"/>
   <id property="member_pass" column="member_pass"/>
   <id property="member_name" column="member_name"/>
   <id property="member_tel" column="member_tel"/>
   <id property="member_image" column="member_image"/>
   <id property="member_regdate" column="member_regdate"/>
   <id property="member_updatedate" column="member_updatedate"/>
   <id property="member_authority" column="member_authority"/>
   <id property="member_signup_type" column="member_signup_type"/>
   <id property="member_status" column="member_status"/>
</resultMap>

<!-- 조인한 맵 만들어주기 1 -->
<resultMap type="ClubTotalBean" id="ClubMemberListMap">
	<collection property="membersVo" resultMap="membersMap"/>
	<collection property="clubMemberRolesVo" resultMap="roleMap"/>
</resultMap>

<!-- 조인할 테이블 2-1 -->
<resultMap type="InterestsVo" id="interestMap">
   <id property="interest_no" column="interest_no"/>
   <id property="interest_icon" column="interest_icon"/>
   <id property="interest_name" column="interest_name"/>
</resultMap>

<!-- 조인할 테이블 2-2 -->
<resultMap type="ClubInterestsVo" id="clubInterestMap">
   <id property="club_interest_no" column="club_interest_no"/>
   <id property="club_no" column="club_no"/>
   <id property="interest_no" column="interest_no"/>
   <id property="interest_detail_no" column="interest_detail_no"/>
</resultMap>

<!-- 조인할 테이블 2-3 -->
<resultMap type="ClubsVo" id="clubMap">
   <id property="club_no" column="club_no"/>
   <id property="club_name" column="club_name"/>
   <id property="club_capacity" column="club_capacity"/>
   <id property="club_content" column="club_content"/>
   <id property="club_image" column="club_image"/>
   <id property="club_regdate" column="club_regdate"/>
</resultMap>

<!--  조인할 테이블 2-4 -->
<resultMap type="ClubGradesVo" id="clubGradeMap">
   <id property="club_grade_no" column="clubclub_grade_no_no"/>
   <id property="club_no" column="club_no"/>
   <id property="club_grade" column="club_grade"/>
</resultMap>

<!-- 조인한 맵 만들어주기 2 -->
<resultMap type="ClubTotalBean" id="ClubListMap">
	<collection property="clubInterestsVo" resultMap="clubInterestMap"/>
	<collection property="interestsVo" resultMap="interestMap"/>
	<collection property="clubsVo" resultMap="clubMap"/>
	<collection property="clubGradesVo" resultMap="clubGradeMap"/>
	
</resultMap>

<!-- boardList(MembersVo, ClubBoardVo) -->
<!-- <resultMap type="MembersVo" id="membersMap"> -->
<!-- 	<id property="member_no" column="member_no"/> -->
<!-- 	<id property="member_name" column="member_name"/> -->
<!-- </resultMap> -->

<resultMap type="ClubBoardsVo" id="boardMap">
	<id property="club_board_no" column="club_board_no"/>
	<id property="club_no" column="club_no"/>
	<id property="board_type_no" column="board_type_no"/>
	<id property="member_no" column="member_no"/>
	<id property="club_board_title" column="club_board_title"/>
	<id property="club_board_content" column="club_board_content"/>
	<id property="club_board_image" column="club_board_image"/>
	<id property="club_board_date" column="club_board_date"/>
	<id property="club_board_updatedate" column="club_board_updatedate"/>
	<id property="club_board_like" column="club_board_like"/>
	<id property="club_board_commentcnt" column="club_board_commentcnt"/>
</resultMap>

<select id="ClubMemberList" resultMap="ClubMemberListMap">
	<![CDATA[
	select m.member_no,m.member_name, m.member_image, c.club_no, c.club_role_no, cr.club_role_name
	from club_members c 
    join members m 
    	on (m.member_no = c.member_no)
	join club_member_roles cr
		on(c.club_role_no = cr.club_role_no)
	where club_no = #{club_no} 
	order by club_role_name asc
	]]>
</select>

<select id="ClubList" resultMap="ClubListMap">
	    select c.club_no, c.club_name, c.club_content, c.club_image, ci.interest_no, i.interest_name,i.interest_icon,cg.club_grade_rate
    from clubs c
	join club_interests ci
        on(c.club_no = ci.club_no)
    join interests i
		on(ci.interest_no = i.interest_no)
	join club_grades cg
		on(c.club_no = cg.club_no)
	where ci.interest_no = #{interest_no}
	order by club_no asc
</select>

<select id="ClubListAll" resultMap="ClubListMap">
	    select c.club_no, c.club_name, c.club_content, c.club_image, ci.interest_no, i.interest_name,i.interest_icon,cg.club_grade_rate
    from clubs c
	join club_interests ci
        on(c.club_no = ci.club_no)
    join interests i
		on(ci.interest_no = i.interest_no)
	join club_grades cg
		on(c.club_no = cg.club_no)
	order by club_grade_rate desc
</select>


	
	<insert id="writeBoard">
		insert into club_boards (club_no,board_type_no,member_no,club_board_title,club_board_content,club_board_image)
		values(#{club_no},#{board_type_no},#{member_no},#{club_board_title},#{club_board_content},#{club_board_image})
	</insert>
	
	<select id="getBoardListAll" resultMap="boardListMap">
		select b.club_board_no, m.member_name, m.member_image, b.club_board_title, b.club_board_content, b.club_board_image, b.club_board_date, b.club_board_updatedate, b.club_board_like, b.club_board_commentcnt
		from club_boards b
		join members m
			on b.member_no = m.member_no
		where b.club_no = #{club_no}
		order by club_board_no desc
	</select>
	
	<select id="getBoardList" resultMap="boardListMap">
		select b.club_board_no, m.member_name, m.member_image, b.club_board_title, b.club_board_content, b.club_board_image, b.club_board_date, b.club_board_updatedate, b.club_board_like, b.club_board_commentcnt
		from club_boards b
		join members m
			on b.member_no = m.member_no
		where b.club_no = #{club_no} and b.board_type_no = #{board_type_no}
		order by club_board_no desc
	</select>
	
	<select id="getBoardImageList" resultType="ClubBoardsVo">
		select club_board_no, club_board_image 
		from club_boards
		where club_no = #{club_no} and club_board_image is not null
	</select>
	
	<!-- 게시글 본문(상세보기, 수정) -->
<!-- 	<select id="getBoardContent" resultType="ClubBoardsVo"> -->
<!-- 		select board_type_no, club_board_title, club_board_content  -->
<!-- 		from club_boards -->
<!-- 		where club_board_no = #{club_board_no} -->
<!-- 	</select> -->
	<select id="getBoardContent" resultType="boardContentMap">
	</select>
	
	<!-- 게시글 수정 -->
	<update id="modifyBoardContent">
		update club_boards set board_type_no = #{board_type_no}, club_board_title = #{club_board_title}, club_board_content = #{club_board_content}, club_board_updatedate = now()
		where club_board_no = #{club_board_no}
	</update>
	
	
</mapper> 
