<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joinus.mapper.MainMapper">

	<select id="getMostPopularClub" resultType="ClubsVo" >
	select * from clubs where club_no in (select club_no from member_dips group by club_no having count(*) > 1 order by club_no desc ) limit 4
	</select>
	<select id="getMostRecentClub" resultType="ClubsVo" >
	select * from clubs order by club_regdate desc limit 4;
	</select>
	<select id="getMostNumerousClub" resultType="ClubsVo" >
	select * from clubs where club_no in (
	select club_no from ( select club_no from club_members group by club_no having count(*) > 1 order by count(*) desc limit 4) as a )  order by club_regdate desc
	</select>
	
	

</mapper>