<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joinus.mapper.MemberMapper">
	<select id="selectMemberByEmail" resultType="MembersVo">
		<![CDATA[
		select * from members 
		where member_email=#{member_email}
		]]>
	</select>
		
	<select id="selectMemberByNo" resultType="MembersVo">
		select * from members where member_no=#{member_no}
	</select>
	<insert id="insertMember" parameterType="MembersVo">
		<![CDATA[
		insert into members
		(             
 		 member_email,       
 		 member_pass,         
		 member_name,         
		 member_tel,          
		 member_image,            
		 member_signup_type,
		 member_location 
		)
		values(
			#{member_email},
			#{member_pass}, 
			#{member_name},
			#{member_tel},
			#{member_image},
			#{member_signup_type},
			#{member_location}
			)
		]]>
	</insert>
	<insert id="insertMemberInterest">
		insert into member_interests(member_no, interest_no)
		values(
			#{member_no}, 
			#{interest_no}
			)
	</insert>
	
	<update id="updateImage">
		update members
		set member_image=#{savedFileName}
		where member_no=#{member_no}
	</update>
</mapper>